body
{
    background-color: darkslategrey;
    color: white;
    padding: 0;
    margin: 0;
    font-family: calibri, sans-serif;
    text-align: center;
    font-size: 1.5em;
    line-height: 0.5em;
}

main
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-data img
{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
}

.user-pic
{
    position: relative;
}
.user-pic::after
{
    content: "";
    position: absolute;
    top: -9px; left: -9px;
    outline: 9px solid white;
    padding: 9px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}